.search {
  padding: 14px 20px;
  /* height: 100%; */
  border-radius: 8px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border: 1px solid var(--color-black);
  width: 502px;
}

.wrapper {
  display: flex;
  align-items: stretch;
  /* height: 48px; */
}

.searchButton {
  border-radius: 0px 8px 8px 0px;
  padding: 10px 20px;
  border: 1px solid var(--color-black);
  border-left: none;
  cursor: pointer;
}

.listElement {
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #2e2e2e;
  cursor: pointer;
  color: var(--color-white);
}
.listElement:hover {
  background-color: #2e2e2e;
}

.albumTitle {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
}

.albumArtists {
  font-size: 12px;
  color: #adadad;
  margin: 0;
}
